In [3]:
# Imports
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
import os

import os

# Set the default folder path
default_folder = 'C:/Users/ashly/OneDrive/Documents/Education Material/FundamentalsDS/Project/DS-Model'

# Change the working directory
os.chdir(default_folder)
print(f'The default directory for this notebook is: {os.getcwd()}')

The default directory for this notebook is: C:\Users\ashly\OneDrive\Documents\Education Material\FundamentalsDS\Project\DS-Model

The Six Figure Salary Predictive Model based on School Choice (Classification)
Target Feature: Six Figure Salary by mid-career (True or False)
Descriptive features: School Name, Stem Percent, Total_Cost of School, Rank of School, Diversity Index 

The steps to preprocess the data for this model are, 
1. **Complete** Filtering the data for null values in any cells and removing the entire row if so in the dataset, 
    diversity_school.csv, salary_potential.csv, and total_cost
2. Replace str cells with int for values Degree Length and replace Null Values in Room and Board with 0 to be used in calculations, then add total_cost column(Tuition_Cost.csv)
3. **Complete** Add Region Column to diversity_school dataset 
4. **Complete** Filter Regions using the states to create concentrated visualizations, remove any Unknown state categories
5. Add Diversity Index Column
6. Once datasets are filtered place each necessary column to be used as features in a separate file modelling_data.csv

Step 1: Filter null values

In [58]:
# Function Definition - Remove Null Values from all datasets
def removeNullValues(directory_path):
    # Get a list of all files in the directory
    files = os.listdir(directory_path) 
    
    for f in files:
        # check if the file is a valid dataset
        if '.csv' not in f:
            continue 
        file_path =  os.path.join(directory_path, f)
        df = pd.read_csv(file_path, sep=',')
        
        print(f'Information about File: {f}')
        # Inspect File
        print(df.head()) # display the first few rows
        print(df.dtypes) # display column names and data types
        # check out basics of your data first
        for (name, series) in df.items():
            print('\n'+'ANALYZED ATTRIBUTE NAME:', name)
        # counting records
            print('--COUNT OF RECORDS:', df[name].size)
        # counting missing values
            print('-- COUNT OF MISSING VALUES:', sum(df[name].isnull().values.ravel()))
            print('-- RATIO OF MISSING VALUES:', (sum(df[name].isnull().values.ravel()) / df[name].size) * 100, '%')
        # counting unique values
            print('-- CARDINALITY=COUNT OF UNIQUE VALUES:', df[name].unique().size)
        
        # finding null values in the DataFrame
        print('The sum of null values are:')
        print(df.isnull().sum())
        
        # Remove Null values
        print('Count of cells BEFORE dropping empty cells:', df.size, '\n')
        df.dropna()
        df.to_csv(file_path, index=False)
        print('Count of cells AFTER dropping empty cells:', df.size, '\n')
        print('------------------------------------------------------------------')

In [59]:
# Function Execution
directory_path =  os.path.join(os.getcwd(), 'data_raw')
if os.path.exists(directory_path):
    removeNullValues(directory_path)
else:
    print(f'Something is wrong with the {directory_path}')

Information about File: diversity_school.csv
                            name  total_enrollment    state  \
0  University of Phoenix-Arizona            195059  Arizona
1  University of Phoenix-Arizona            195059  Arizona
2  University of Phoenix-Arizona            195059  Arizona
3  University of Phoenix-Arizona            195059  Arizona
4  University of Phoenix-Arizona            195059  Arizona

                          category  enrollment region  diversity_percent
0                            Women      134722   west           0.690673
1  American Indian / Alaska Native         876   west           0.004491
2                            Asian        1959   west           0.010043
3                            Black       31455   west           0.161259
4                         Hispanic       13984   west           0.071691
name                  object
total_enrollment       int64
state                 object
category              object
enrollment             int64
region                object
diversity_percent    float64
dtype: object

ANALYZED ATTRIBUTE NAME: name
--COUNT OF RECORDS: 28051
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 2551

ANALYZED ATTRIBUTE NAME: total_enrollment
--COUNT OF RECORDS: 28051
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 2215

ANALYZED ATTRIBUTE NAME: state
--COUNT OF RECORDS: 28051
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 50

ANALYZED ATTRIBUTE NAME: category
--COUNT OF RECORDS: 28051
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 11

ANALYZED ATTRIBUTE NAME: enrollment
--COUNT OF RECORDS: 28051
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 5423

ANALYZED ATTRIBUTE NAME: region
--COUNT OF RECORDS: 28051
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 4

ANALYZED ATTRIBUTE NAME: diversity_percent
--COUNT OF RECORDS: 28051
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 26110
The sum of null values are:
name                 0
total_enrollment     0
state                0
category             0
enrollment           0
region               0
diversity_percent    0
dtype: int64
Count of cells BEFORE dropping empty cells: 196357

Count of cells AFTER dropping empty cells: 196357

------------------------------------------------------------------
Information about File: historical_tuition.csv
               type     year     tuition_type  tuition_cost
0  All Institutions  1985-86     All Constant         10893
1  All Institutions  1985-86  4 Year Constant         12274
2  All Institutions  1985-86  2 Year Constant          7508
3  All Institutions  1985-86      All Current          4885
4  All Institutions  1985-86   4 Year Current          5504
type            object
year            object
tuition_type    object
tuition_cost     int64
dtype: object

ANALYZED ATTRIBUTE NAME: type
--COUNT OF RECORDS: 270
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 3

ANALYZED ATTRIBUTE NAME: year
--COUNT OF RECORDS: 270
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 19

ANALYZED ATTRIBUTE NAME: tuition_type
--COUNT OF RECORDS: 270
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 6

ANALYZED ATTRIBUTE NAME: tuition_cost
--COUNT OF RECORDS: 270
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 260
The sum of null values are:
type            0
year            0
tuition_type    0
tuition_cost    0
dtype: int64
Count of cells BEFORE dropping empty cells: 1080

Count of cells AFTER dropping empty cells: 1080

------------------------------------------------------------------
Information about File: salary_potential.csv
   rank                                 name state_name  early_career_pay  \
0     1                    Auburn University    Alabama             54400
1     2  University of Alabama in Huntsville    Alabama             57500
2     3            The University of Alabama    Alabama             52300
3     4                  Tuskegee University    Alabama             54500
4     5                   Samford University    Alabama             48400

   mid_career_pay  make_world_better_percent  stem_percent
0          104500                       51.0            31
1          103900                       59.0            45
2           97400                       50.0            15
3           93500                       61.0            30
4           90500                       52.0             3
rank                           int64
name                          object
state_name                    object
early_career_pay               int64
mid_career_pay                 int64
make_world_better_percent    float64
stem_percent                   int64
dtype: object

ANALYZED ATTRIBUTE NAME: rank
--COUNT OF RECORDS: 935
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 25

ANALYZED ATTRIBUTE NAME: name
--COUNT OF RECORDS: 935
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 934

ANALYZED ATTRIBUTE NAME: state_name
--COUNT OF RECORDS: 935
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 50

ANALYZED ATTRIBUTE NAME: early_career_pay
--COUNT OF RECORDS: 935
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 310

ANALYZED ATTRIBUTE NAME: mid_career_pay
--COUNT OF RECORDS: 935
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 453

ANALYZED ATTRIBUTE NAME: make_world_better_percent
--COUNT OF RECORDS: 935
-- COUNT OF MISSING VALUES: 33
-- RATIO OF MISSING VALUES: 3.5294117647058822 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 59

ANALYZED ATTRIBUTE NAME: stem_percent
--COUNT OF RECORDS: 935
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 74
The sum of null values are:
rank                          0
name                          0
state_name                    0
early_career_pay              0
mid_career_pay                0
make_world_better_percent    33
stem_percent                  0
dtype: int64
Count of cells BEFORE dropping empty cells: 6545

Count of cells AFTER dropping empty cells: 6545

------------------------------------------------------------------
Information about File: tuition_cost.csv
                                   name       state state_code        type  \
0                Aaniiih Nakoda College     Montana         MT      Public
1          Abilene Christian University       Texas         TX     Private
2  Abraham Baldwin Agricultural College     Georgia         GA      Public
3                       Academy College   Minnesota         MN  For Profit
4             Academy of Art University  California         CA  For Profit

  degree_length  room_and_board  in_state_tuition  in_state_total  \
0        2 Year             NaN              2380            2380
1        4 Year         10350.0             34850           45200
2        2 Year          8474.0              4128           12602
3        2 Year             NaN             17661           17661
4        4 Year         16648.0             27810           44458

   out_of_state_tuition  out_of_state_total
0                  2380                2380
1                 34850               45200
2                 12550               21024
3                 17661               17661
4                 27810               44458
name                     object
state                    object
state_code               object
type                     object
degree_length            object
room_and_board          float64
in_state_tuition          int64
in_state_total            int64
out_of_state_tuition      int64
out_of_state_total        int64
dtype: object

ANALYZED ATTRIBUTE NAME: name
--COUNT OF RECORDS: 2973
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 2938

ANALYZED ATTRIBUTE NAME: state
--COUNT OF RECORDS: 2973
-- COUNT OF MISSING VALUES: 52
-- RATIO OF MISSING VALUES: 1.7490750084090143 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 51

ANALYZED ATTRIBUTE NAME: state_code
--COUNT OF RECORDS: 2973
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 55

ANALYZED ATTRIBUTE NAME: type
--COUNT OF RECORDS: 2973
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 4

ANALYZED ATTRIBUTE NAME: degree_length
--COUNT OF RECORDS: 2973
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 3

ANALYZED ATTRIBUTE NAME: room_and_board
--COUNT OF RECORDS: 2973
-- COUNT OF MISSING VALUES: 1094
-- RATIO OF MISSING VALUES: 36.79784729229734 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 1429

ANALYZED ATTRIBUTE NAME: in_state_tuition
--COUNT OF RECORDS: 2973
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 2373

ANALYZED ATTRIBUTE NAME: in_state_total
--COUNT OF RECORDS: 2973
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 2560

ANALYZED ATTRIBUTE NAME: out_of_state_tuition
--COUNT OF RECORDS: 2973
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 2491

ANALYZED ATTRIBUTE NAME: out_of_state_total
--COUNT OF RECORDS: 2973
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 2628
The sum of null values are:
name                       0
state                     52
state_code                 0
type                       0
degree_length              0
room_and_board          1094
in_state_tuition           0
in_state_total             0
out_of_state_tuition       0
out_of_state_total         0
dtype: int64
Count of cells BEFORE dropping empty cells: 29730

Count of cells AFTER dropping empty cells: 29730

------------------------------------------------------------------
Information about File: tuition_income.csv
                                name state  total_price  year     campus  \
0  Piedmont International University    NC        20174  2016  On Campus
1  Piedmont International University    NC        20174  2016  On Campus
2  Piedmont International University    NC        20174  2016  On Campus
3  Piedmont International University    NC        20174  2016  On Campus
4  Piedmont International University    NC        20514  2017  On Campus

      net_cost         income_lvl
0  11475.00000        0 to 30,000
1  11451.00000   30,001 to 48,000
2  16229.00000   48_001 to 75,000
3  15592.00000  75,001 to 110,000
4  11668.39249        0 to 30,000
name            object
state           object
total_price      int64
year             int64
campus          object
net_cost       float64
income_lvl      object
dtype: object

ANALYZED ATTRIBUTE NAME: name
--COUNT OF RECORDS: 209012
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 3664

ANALYZED ATTRIBUTE NAME: state
--COUNT OF RECORDS: 209012
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 51

ANALYZED ATTRIBUTE NAME: total_price
--COUNT OF RECORDS: 209012
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 22630

ANALYZED ATTRIBUTE NAME: year
--COUNT OF RECORDS: 209012
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 9

ANALYZED ATTRIBUTE NAME: campus
--COUNT OF RECORDS: 209012
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 2

ANALYZED ATTRIBUTE NAME: net_cost
--COUNT OF RECORDS: 209012
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 58707

ANALYZED ATTRIBUTE NAME: income_lvl
--COUNT OF RECORDS: 209012
-- COUNT OF MISSING VALUES: 0
-- RATIO OF MISSING VALUES: 0.0 %
-- CARDINALITY=COUNT OF UNIQUE VALUES: 5
The sum of null values are:
name           0
state          0
total_price    0
year           0
campus         0
net_cost       0
income_lvl     0
dtype: int64
Count of cells BEFORE dropping empty cells: 1463084

Count of cells AFTER dropping empty cells: 1463084

------------------------------------------------------------------

Step 2: Replace the str cells with int values in Degree Length and replace Null Values in Room and Board with 0, then add total_cost column to tution_cost dataset

Step 3: Add Region and Diversity Percent Columns to diversity_school.csv

In [8]:
# Add Regions to Diversity_School dataset
def addRegions(file_path):
    # 4 Major Regions
    # States in the Northeast
    northeast_states = {'Connecticut', 'Delaware', 'Maine', 'Maryland', 'Massachusetts', 'New Hampshire', 'New Jersey', 'New York', 'Pennsylvania', 'Rhode Island', 'Vermont'}

    # States in the Midwest
    midwest_states = {'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Michigan', 'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'Ohio', 'South Dakota', 'Wisconsin'}

    # States in the South
    south_states = {'Alabama', 'Arkansas', 'Florida', 'Georgia', 'Kentucky', 'Louisiana', 'Mississippi', 'North Carolina', 'Oklahoma', 'South Carolina', 'Tennessee', 'Texas', 'Virginia', 'West Virginia'}

    # States in the West
    west_states = {'Alaska', 'Arizona', 'California', 'Colorado', 'Hawaii', 'Idaho', 'Montana', 'Nevada', 'New Mexico', 'Oregon', 'Utah', 'Washington', 'Wyoming'}
    
    df = pd.read_csv(file_path, sep=',')

    
    for index, row in df.iterrows():
        current_region = ''
        if df.at[index,'state'] in northeast_states:
            current_region = 'northeast'
        elif df.at[index,'state'] in midwest_states:
            current_region = 'midwest'
        elif df.at[index,'state'] in south_states:
            current_region = 'south'
        elif df.at[index,'state'] in west_states:
            current_region = 'west'
        else:
            current_region = 'unknown'  
            
        df.at[index, 'region'] = current_region

    df.to_csv(file_path, index=False)
    print('Region is populated')

In [9]:
# Function Execution
file_path = 'data_raw/diversity_school.csv'
addRegions(file_path)

Region is populated

In [17]:
# Now delete all rows with unknown regions
def cleanDiversitySchool(file_path):
    df = pd.read_csv(file_path, sep=',')
    print('Count of cells BEFORE dropping empty cells:', df.size, '\n')
    for index, row in df.iterrows():
        if df.at[index,'region'] == 'unknown':
            df = df.drop(index)
    df.dropna()
    df.to_csv(file_path, index=False)
    print('Count of cells AFTER dropping empty cells:', df.size, '\n')

In [18]:
# Function Execution
file_path = 'data_raw/diversity_school.csv'
cleanDiversitySchool(file_path)

Count of cells BEFORE dropping empty cells: 196357

Count of cells AFTER dropping empty cells: 196357

In [24]:
# Next add a Diversity Percent column using each demographic category enrollment / total enrollment
def addDiversityPercent(file_path):
    df = pd.read_csv(file_path, sep=',')
    
    for index, row in df.iterrows():
        diversity_percent = df.at[index, 'enrollment'] / df.at[index, 'total_enrollment']
            
        df.at[index,'diversity_percent'] = diversity_percent
    
    df.to_csv(file_path, index=False)
    print('Diversity Percent has been added')

In [26]:
file_path = 'data_raw/diversity_school.csv'
addDiversityPercent(file_path)

Diversity Percent has been added

Step 4: Filter Regions using the states to create concentrated visualizations, remove any unknown states

In [4]:
# Create Diversity Pie Charts
def CreateDiversityPieChart(file_path):
    
    # Define dictionaries for diversity data in different regions
    northeast_diversity = {'Women': 0, 'American Indian / Alaska Native': 0, 'Asian': 0, 'Black': 0,'Hispanic': 0, 'Native Hawaiian / Pacific Islander': 0, 'White': 0,'Two Or More Races': 0, 'Unknown': 0, 'Non-Resident Foreign': 0}
    
    midwest_diversity = {'Women': 0, 'American Indian / Alaska Native': 0, 'Asian': 0, 'Black': 0,'Hispanic': 0, 'Native Hawaiian / Pacific Islander': 0, 'White': 0,'Two Or More Races': 0, 'Unknown': 0, 'Non-Resident Foreign': 0}
    
    west_diversity = {'Women': 0, 'American Indian / Alaska Native': 0, 'Asian': 0, 'Black': 0,'Hispanic': 0, 'Native Hawaiian / Pacific Islander': 0, 'White': 0,'Two Or More Races': 0, 'Unknown': 0, 'Non-Resident Foreign': 0}
    
    south_diversity = {'Women': 0, 'American Indian / Alaska Native': 0, 'Asian': 0, 'Black': 0, 'Hispanic': 0, 'Native Hawaiian / Pacific Islander': 0, 'White': 0,'Two Or More Races': 0, 'Unknown': 0, 'Non-Resident Foreign': 0}
    
    num_northeast_schools = 0
    num_midwest_schools = 0
    num_west_schools = 0
    num_south_schools = 0
    
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path, sep=',')

    # Add diversity percentages and count schools in each region
    for index, row in df.iterrows():
        category = df.at[index, 'category']
        region = df.at[index, 'region']
        if (category == 'Total Minority'):
            continue # do not use total minority in pie chart, repetition of data
        match region:
            case 'northeast':
                num_northeast_schools += 1
                northeast_diversity[category] += df.at[index, 'diversity_percent']
            case 'midwest':
                num_midwest_schools += 1
                midwest_diversity[category] += df.at[index, 'diversity_percent']
            case 'west':
                num_west_schools += 1
                west_diversity[category] += df.at[index, 'diversity_percent']
            case 'south':
                num_south_schools += 1
                south_diversity[category] += df.at[index, 'diversity_percent']
            case _:
                print(f'Something went wrong at index: {index}')
                
    # Normalize the counts to get percentages
    num_northeast_schools /= 10
    num_midwest_schools /= 10
    num_west_schools /= 10
    num_south_schools /= 10
        
    for key in northeast_diversity.keys():
        northeast_diversity[key] /= num_northeast_schools
        midwest_diversity[key] /= num_midwest_schools
        west_diversity[key] /= num_west_schools
        south_diversity[key] /= num_south_schools

    # Plot pie charts for each region
    def plot_pie_chart(region, title):
        labels = list(region.keys())
        sizes = list(region.values())
        colors = ['#87CEEB', '#FF7F50', '#32CD32', '#DC143C', '#8A2BE2', '#A0522D', '#E6E6FA', '#FFD700', '#BDB76B', '#00008B', '#FFFF00']
        plt.pie(sizes, labels=None, colors=colors, autopct='%1.1f%%', startangle=140, labeldistance=1.1)
        plt.legend(labels, loc='upper right', bbox_to_anchor=(1.15, 1.15))
        plt.axis('equal')
        plt.title(title)
        plt.gcf().set_size_inches(8, 8)
        plt.show()

    plot_pie_chart(northeast_diversity, 'Northeast Diversity Index')
    plot_pie_chart(midwest_diversity, 'Midwest Diversity Index')
    plot_pie_chart(west_diversity, 'West Diversity Index')
    plot_pie_chart(south_diversity, 'South Diversity Index')

    plt.close()

In [5]:
# Function Execution
file_path = 'data_raw/diversity_school.csv'
CreateDiversityPieChart(file_path)

KeyError: 'Total Minority'

Step 5: Create Diversity Index Column

Step 6: Create modelling_data.csv with all features and target